html {
  height: 1315px;
}

body {
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#header-image {
  width: 75%;
  float: right;
  margin-top: -25%;
}

h1 {
  width: 25%;
  padding-left: 2%;
  color: #88CCB8;
  background-color: black;
  margin-top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 36px;
  padding-right: 27px;
  text-decoration: none;
}

#login {
  float: right;
  text-align: right;
  position: relative;
  bottom: 105px;
  right: 15px;
  background-color: #89043D;
  padding: 10px;
  border-radius: 5px;
}

label {
  color: white;
}

#home-link {
  color: white;
  text-decoration: none;
}

p {
  line-height: 2;
}

#articles {
  float: right;
  position: relative;
  bottom: 555px;
  left: 150px;
  padding: 2px;
  justify-content: center;
  margin-bottom: 0;

}

.art {
  padding-left: 50px;
  padding-right: 20px;
  margin-bottom: 0;
  margin-right: 0;
  line-height: 1.8;
}

.art-head {
  background-color: black;
  color: white;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
}

#main-navigation {
  background-color: #89043D;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 0;
}

.main-nav {
  width: 175px;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  color: white;
  text-decoration: none;
  text-align: center;
}

.main-nav:hover {
  background-color: black;
}

#quick {
  height: 25%;
  margin-top: 50px;
  color: black;
  padding-left: 15px;
}

.q-link {
  padding: 5px;
  list-style: none;
  color: black;
  text-decoration: none;
}
.q-link:hover {
  background-color: black;
  color: white;
}

#quick-header {
  background-color: #89043D;
  width: 25%;
  color: white;
  padding: 15px;
  padding-left: 20px;
  border-radius: 5px;
}

#chancellor {
  width: 25%;
}

#chancellor-img {
  width: 100%;
  margin-left: 30px;

}

#main-text {
  width: 60%;
  padding-right: 10px;
}

#all-text {
  margin-top: 35px;
}

#visitor-nav {
  float: right;
  position: relative;
  bottom: 765px;
  right: 29px;
  width: 8%;
  background-color: #1C3041;
  border-radius: 5px;
}

.visitors {
  position: relative;
  right: 6px;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  list-style-type: none;
  text-decoration: none;
}

.visitors:hover {

  color: #54C4FC;
}
#founded {
  padding-left: 15px;
}

div {
  margin: 15px;
}

a:hover {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
}

footer {
  padding-top: 25px;
  margin-left: 45px;
  padding-bottom: 20px;
}
